var configuration = new Configuration(terminalToken: "{{config.terminal_token}}",
    apiLogin: "{{config.api_login}}",
    apiPassword: "{{config.api_password}}");
genesis = GenesisClientFactory.CreateGenesisClient(configuration);

{{> initialization}}

var response = genesis.Execute(request);
