<form class="form" id="financial-authorize-form">
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-earphone"></i>
            </div>
            <input class="form-control" type="text" name="transaction_type" placeholder="Enter phone number..." value="authorize" disabled="disabled" />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-earphone"></i>
            </div>
            <input class="form-control" type="text" name="transaction_id" placeholder="Enter transaction id..." />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-envelope"></i>
            </div>
            <input class="form-control" type="text" name="usage" placeholder="Enter usage description..." />
        </div>
    </div>

    <div class="row">
        <label for="authorize-gaming" class="control-label input-group">Gaming:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default">
                <input name="gaming" value="Yes" type="radio">Yes
            </label>
            <label class="btn btn-default">
                <input id="authorize-gaming" name="gaming" value="No" type="radio">No
            </label>
        </div>
    </div>

    <div class="row">
        <label for="authorize-gaming" class="control-label input-group">Moto:</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default">
                <input name="moto" value="Yes" type="radio">Yes
            </label>
            <label class="btn btn-default">
                <input id="authorize-moto" name="moto" value="No" type="radio">No
            </label>
        </div>
    </div>

    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-globe"></i>
            </div>
            <input class="form-control" type="text" name="remote_ip" placeholder="Enter remote ip address..." />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-barcode"></i>
            </div>
            <input class="form-control" type="text" name="reference_id" placeholder="Enter reference id..." />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-usd"></i>
            </div>
            <input class="form-control" type="text" name="amount" placeholder="Enter amount..." />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </div>
            <input class="form-control" type="text" name="currency" placeholder="Enter currency..." />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </div>
            <input class="form-control" type="text" name="card_holder" placeholder="Enter CC Holder Name..." />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </div>
            <input class="form-control" type="text" name="expiration_month" placeholder="Enter CC Expiration Month..." />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </div>
            <input class="form-control" type="text" name="cvv" placeholder="Enter CC CVV Number..." />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </div>
            <input class="form-control" type="text" name="customer_email" placeholder="Enter Client's Email Address..." />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </div>
            <input class="form-control" type="text" name="customer_phone" placeholder="Enter Client's Phone Number..." />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </div>
            <input class="form-control" type="text" name="billing_address[first_name]" placeholder="Enter the First Name for the Billing Address..." />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </div>
            <input class="form-control" type="text" name="billing_address[last_name]" placeholder="Enter the Last Name for the Billing Address..." />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </div>
            <input class="form-control" type="text" name="billing_address[address1]" placeholder="Enter the Address for the Billing Address.." />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </div>
            <input class="form-control" type="text" name="billing_address[address2]" placeholder="Enter the Address2 for the Billing Address..." />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </div>
            <input class="form-control" type="text" name="billing_address[zip_code]" placeholder="Enter the ZipCode for the Billing Address.." />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </div>
            <input class="form-control" type="text" name="billing_address[city]" placeholder="Enter the City for the Billing Address..." />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-container">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </div>
            <input class="form-control" type="text" name="billing_address[country]" placeholder="Enter the Country for the Billing Address..." />
        </div>
    </div>

    <div class="row no-gutter form-group">
        <div class="col-xs-12 submit">
            <input class="form-control" class="submit" type="submit" />
        </div>
    </div>
</form>