<form class="form genesis-api-example form-horizontal" id="financial-capture-form" role="form" data-target="examples/api/processing/api_processing_capture.php">
    <div class="row">
        <div class="col-xs-6">
            <div class="row no-gutter form-group">
                <div class="col-xs-12 left-inner-addon">
                    <div class="icon-container">
                        <i class="glyphicon glyphicon-earphone"></i>
                    </div>
                    <input class="form-control" type="text" name="transaction_type" value="capture" disabled="disabled" />
                </div>
            </div>
            <div class="row no-gutter form-group">
                <div class="col-xs-12 left-inner-addon">
                    <div class="icon-container">
                        <i class="glyphicon glyphicon-earphone"></i>
                    </div>
                    <input class="form-control" type="text" name="transaction_id" placeholder="Enter transaction id..." />
                </div>
            </div>
            <div class="row no-gutter form-group">
                <div class="col-xs-12 left-inner-addon">
                    <div class="icon-container">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </div>
                    <input class="form-control" type="text" name="usage" placeholder="Enter usage description..." />
                </div>
            </div>
            <div class="row no-gutter form-group">
                <div class="col-xs-12 left-inner-addon">
                    <div class="icon-container">
                        <i class="glyphicon glyphicon-globe"></i>
                    </div>
                    <input class="form-control" type="text" name="remote_ip" placeholder="Enter remote ip address..." />
                </div>
            </div>
            <div class="row no-gutter form-group">
                <div class="col-xs-12 left-inner-addon">
                    <div class="icon-container">
                        <i class="glyphicon glyphicon-barcode"></i>
                    </div>
                    <input class="form-control" type="text" name="reference_id" placeholder="Enter reference id..." />
                </div>
            </div>
            <div class="row no-gutter form-group">
                <div class="col-xs-12 left-inner-addon">
                    <div class="icon-container">
                        <i class="glyphicon glyphicon-usd"></i>
                    </div>
                    <input class="form-control" type="text" name="amount" placeholder="Enter amount..." />
                </div>
            </div>
            <div class="row no-gutter form-group">
                <div class="col-xs-12 left-inner-addon">
                    <div class="icon-container">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </div>
                    <input class="form-control" type="text" name="currency" placeholder="Enter currency..." />
                </div>
            </div>
            <div class="row no-gutter form-group">
                <div class="col-xs-12 submit">
                    <input class="form-control" class="submit" type="submit" />
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row no-gutter form-group">
                <div class="col-xs-12 submit">
                    <pre><code class="request xml"></code></pre>
                </div>
                <div class="col-xs-12 submit">
                    <pre><code class="response xml"></code></pre>
                </div>
            </div>
        </div>
    </div>
</form>