require 'lib/vendor/autoload.php';

use \Genesis\Genesis as Genesis;
use \Genesis\Config as GenesisConfig;

GenesisConfig::setUsername('{{config.api_login}}');
GenesisConfig::setPassword('{{config.api_password}}');
GenesisConfig::setToken('{{config.terminal_token}}');
GenesisConfig::setEnvironment('sandbox');

try {
	$genesis = new Genesis('{{klass}}');

	$genesis
		->request()
			{{> initialization}}

	$genesis->execute();

	if ($genesis->response()->isSuccessful()) {
		return $genesis->response()->getResponseObject();
	}
	else {
		throw new Exception($genesis->response()->getResponseObject()->technical_message);
	}
}
catch (Exception $e) {
	error_log($e->getMessage());
	return false;
}