{{^value.is_entity}}
	{{indentation}}{{indentation}}->{{keyword}}{{class}}{{#name}}{{name}}{{/name}}({{{value.value}}}){{#value.is_last}};{{/value.is_last}}
{{/value.is_entity}}
{{#value.is_entity}}
	{{#value.object}}
		{{> initialization}}
	{{/value.object}}
{{/value.is_entity}}