<div class="row no-gutter control-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-lock"></i>
            </div>
            <input class="form-control" type="text" name="transaction_type" value="ezeewallet (Request Type)" disabled="disabled" readonly="readonly" />
        </div>
    </div>
</div>
<div class="row no-gutter control-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-asterisk"></i>
            </div>
            <input class="form-control" type="text" name="transaction_id" placeholder="{{locale.transaction_id}}" value="{{faker.transaction_id}}" />
        </div>
    </div>
</div>
<div class="row no-gutter control-group">
    <div class="col-xs-12 left-inner-addon">
        <input class="form-control" type="text" name="usage" placeholder="{{locale.usage}}" value="{{faker.usage}}" />
    </div>
</div>

<div class="row no-gutter control-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-asterisk"></i>
            </div>
            <input class="form-control" type="text" name="remote_ip" placeholder="{{locale.remote_ip}}" value="{{faker.remote_ip}}" />
        </div>
    </div>
</div>
<div class="row no-gutter control-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-asterisk"></i>
            </div>
            <input class="form-control" type="text" name="amount" placeholder="{{locale.amount}}" value="{{faker.amount}}" />
        </div>
    </div>
</div>
<div class="row no-gutter control-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-asterisk"></i>
            </div>
            <input class="form-control" type="text" name="currency" placeholder="{{locale.currency}}" value="{{faker.currency}}" />
        </div>
    </div>
</div>
<div class="row no-gutter control-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-asterisk"></i>
            </div>
            <input class="form-control" type="text" name="source_wallet_id" placeholder="{{locale.source_wallet_id}}" value="" />
        </div>
    </div>
</div>
<div class="row no-gutter control-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-asterisk"></i>
            </div>
            <input class="form-control" type="password" name="source_wallet_pwd" placeholder="{{locale.source_wallet_pwd}}" value="" />
        </div>
    </div>
</div>

<fieldset>
    <legend>Asynchronous Parameters</legend>
    <div class="row no-gutter control-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-group">
                <div class="icon-container">
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                </div>
                <input class="form-control" type="text" name="notification_url" placeholder="{{locale.notification_url}}" value="{{faker.notification_url}}" />
            </div>
        </div>
    </div>
    <div class="row no-gutter control-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-group">
                <div class="icon-container">
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                </div>
                <input class="form-control" type="text" name="return_success_url" placeholder="{{locale.return_success_url}}" value="{{faker.return_success_url}}" />
            </div>
        </div>
    </div>
    <div class="row no-gutter control-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-group">
                <div class="icon-container">
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                </div>
                <input class="form-control" type="text" name="return_failure_url" placeholder="{{locale.return_failure_url}}" value="{{faker.return_failure_url}}" />
            </div>
        </div>
    </div>
</fieldset>
<div class="row no-gutter control-group">
    <div class="col-xs-12 submit">
        <input name="target" type="hidden" value="ezeewallet" />
        <input class="form-control" class="submit" type="submit" />
    </div>
</div>