<div class="row no-gutter form-group">
    <div class="col-xs-12 left-inner-addon">
        <input class="form-control" type="text" name="arn" placeholder="{{arn}}" />
    </div>
</div>
<div class="row no-gutter form-group">
    <div class="col-xs-12 left-inner-addon">
        <input class="form-control" type="text" name="original_transaction_unique_id" placeholder="{{original_transaction_unique_id}}" />
    </div>
</div>
<div class="row no-gutter form-group">
    <div class="col-xs-12 submit">
        <input name="target" type="hidden" value="retrieval_transaction" />
        <input class="form-control" class="submit" type="submit" />
    </div>
</div>
