<div class="row no-gutter form-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-asterisk"></i>
            </div>
            <input class="form-control" type="text" name="unique_id" placeholder="{{locale.unique_id}}" />
        </div>
    </div>
</div>
<div class="row no-gutter form-group">
    <div class="col-xs-12 submit">
        <input name="target" type="hidden" value="wpf_reconcile" />
        <input class="form-control" class="submit" type="submit" />
    </div>
</div>