<div class="row no-gutter form-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-asterisk"></i>
            </div>
            <input class="form-control" type="text" name="transaction_id" placeholder="{{transaction_id}}" />
        </div>
    </div>
</div>

<div class="row no-gutter form-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-asterisk"></i>
            </div>
            <input class="form-control" type="text" name="amount" placeholder="{{amount}}" />
        </div>
    </div>
</div>
<div class="row no-gutter form-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-asterisk"></i>
            </div>
            <input class="form-control" type="text" name="currency" placeholder="{{currency}}" />
        </div>
    </div>
</div>

<div class="row no-gutter form-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-asterisk"></i>
            </div>
            <input class="form-control" type="text" name="usage" placeholder="{{usage}}" />
        </div>
    </div>
</div>
<div class="row no-gutter form-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-asterisk"></i>
            </div>
            <input class="form-control" type="text" name="description" placeholder="{{description}}" />
        </div>
    </div>
</div>

<div class="row no-gutter form-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-asterisk"></i>
            </div>
            <input class="form-control" type="text" name="notification_url" placeholder="{{notification_url}}" />
        </div>
    </div>
</div>
<div class="row no-gutter form-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-asterisk"></i>
            </div>
            <input class="form-control" type="text" name="return_success_url" placeholder="{{return_success_url}}" />
        </div>
    </div>
</div>
<div class="row no-gutter form-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-asterisk"></i>
            </div>
            <input class="form-control" type="text" name="return_failure_url" placeholder="{{return_failure_url}}" />
        </div>
    </div>
</div>
<div class="row no-gutter form-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-asterisk"></i>
            </div>
            <input class="form-control" type="text" name="return_cancel_url" placeholder="{{return_cancel_url}}" />
        </div>
    </div>
</div>

<div class="row no-gutter form-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-asterisk"></i>
            </div>
            <input class="form-control" type="text" name="customer_email" placeholder="{{customer_email}}" />
        </div>
    </div>
</div>
<div class="row no-gutter form-group">
    <div class="col-xs-12 left-inner-addon">
        <div class="icon-group">
            <div class="icon-container">
                <i class="glyphicon glyphicon-asterisk"></i>
            </div>
            <input class="form-control" type="text" name="customer_phone" placeholder="{{customer_phone}}" />
        </div>
    </div>
</div>
<fieldset>
    <legend>Billing</legend>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-group">
                <div class="icon-container">
                    <i class="glyphicon glyphicon-asterisk"></i>
                </div>
                <input class="form-control" type="text" name="billing_address[first_name]" placeholder="{{billing_first_name}}" />
            </div>
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-group">
                <div class="icon-container">
                    <i class="glyphicon glyphicon-asterisk"></i>
                </div>
                <input class="form-control" type="text" name="billing_address[last_name]" placeholder="{{billing_last_name}}" />
            </div>
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-group">
                <div class="icon-container">
                    <i class="glyphicon glyphicon-asterisk"></i>
                </div>
                <input class="form-control" type="text" name="billing_address[address1]" placeholder="{{billing_address}}" />
            </div>
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-group">
                <div class="icon-container">
                    <i class="glyphicon glyphicon-asterisk"></i>
                </div>
                <input class="form-control" type="text" name="billing_address[address2]" placeholder="{{billing_address_2}}" />
            </div>
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-group">
                <div class="icon-container">
                    <i class="glyphicon glyphicon-asterisk"></i>
                </div>
                <input class="form-control" type="text" name="billing_address[zip_code]" placeholder="{{billing_zip}}" />
            </div>
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-group">
                <div class="icon-container">
                    <i class="glyphicon glyphicon-asterisk"></i>
                </div>
                <input class="form-control" type="text" name="billing_address[city]" placeholder="{{billing_city}}" />
            </div>
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <div class="icon-group">
                <div class="icon-container">
                    <i class="glyphicon glyphicon-asterisk"></i>
                </div>
                <input class="form-control" type="text" name="billing_address[country]" placeholder="{{billing_country}}" />
            </div>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Shipping (Optional)</legend>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <input class="form-control" type="text" name="shipping_address[first_name]" placeholder="{{shipping_first_name}}" />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <input class="form-control" type="text" name="shipping_address[last_name]" placeholder="{{shipping_last_name}}" />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <input class="form-control" type="text" name="shipping_address[address1]" placeholder="{{shipping_address}}" />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <input class="form-control" type="text" name="shipping_address[address2]" placeholder="{{shipping_address_2}}" />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <input class="form-control" type="text" name="shipping_address[zip_code]" placeholder="{{shipping_zip}}" />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <input class="form-control" type="text" name="shipping_address[city]" placeholder="{{shipping_city}}" />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <input class="form-control" type="text" name="shipping_address[country]" placeholder="{{shipping_country}}" />
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Risk Parameters (Optional)</legend>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <input class="form-control" type="text" name="risk_params[ssn]" placeholder="{{risk_params_ssn}}" />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <input class="form-control" type="text" name="risk_params[mac_address]" placeholder="{{risk_params_mac_address}}" />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <input class="form-control" type="text" name="risk_params[session_id]" placeholder="{{risk_params_session_id}}" />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <input class="form-control" type="text" name="risk_params[user_id]" placeholder="{{risk_params_user_id}}" />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <input class="form-control" type="text" name="risk_params[user_level]" placeholder="{{risk_params_user_level}}" />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <input class="form-control" type="text" name="risk_params[email]" placeholder="{{risk_params_email}}" />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <input class="form-control" type="text" name="risk_params[phone]" placeholder="{{risk_params_phone}}" />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <input class="form-control" type="text" name="risk_params[remote_ip]" placeholder="{{risk_params_remote_ip}}" />
        </div>
    </div>
    <div class="row no-gutter form-group">
        <div class="col-xs-12 left-inner-addon">
            <input class="form-control" type="text" name="risk_params[serial_number]" placeholder="{{risk_params_serial_number}}" />
        </div>
    </div>
</fieldset>
<div class="row no-gutter form-group">
    <div class="col-xs-12 submit">
        <input name="target" type="hidden" value="wpf_create" />
        <input class="form-control" class="submit" type="submit" />
    </div>
</div>